title{
    font-size: 24px;
}

h2{
    font-family: cursive;
    font-size: 18px;
    text-align: center;
}

.bullets{
    font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 400px;
}

h1{
    text-align: center;
    font-weight: bold;
}

img{
    align-content: center;
}